<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.authors }}">
    <link href="https://gmpg.org/xfn/11" rel="profile">

    <link href="/assets/css/style.css" rel="stylesheet">

    {% include favicons.html %}

    {% feed_meta %}

    {% seo %}

    {% include analytics.html %}
    {% include no-js.html %}
  </head>

  {% capture body_class -%}
    {{ page.layout }} {% if page.body_class -%} page-{{ page.body_class }}
                      {%- elsif page.slug -%} page-{{ page.slug | slugify }}
                      {%- elsif page.dir -%} page-{{ page.dir | slugify }}
                      {%- endif -%}
  {%- endcapture -%}

  <body class="{{ body_class }}">

    <div class="masthead">
      <div class="container">
        <a class="bs-docs-booticon" href="/" aria-label="Bootstrap">
          <h1>Studio w Plecaku.pl {{ site.title }}</h1>
        </a>
      </div>
    </div>

    <div class="container">     
